<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Cabinet <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/auxiliere.asp}">
          <i class="fas fa-fw fa-user-alt"></i>
          <span>Gestion des comptes</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/requerant.asp}">
          <i class="fas fa-fw fa-user-alt"></i>
          <span>Requerants</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/sommation.asp}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Sommations</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      

      <!-- Nav Item - Pages Collapse Menu -->
      

      <!-- Nav Item - Utilities Collapse Menu -->
     
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
       
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      

      <!-- Nav Item - Charts -->
      

      <!-- Nav Item - Tables -->
      

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button  class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
      <a th:href="@{/logout}" class="btn btn-primary btn-user btn-block">
                      Se deconnecter
                    </a>

    </ul>