<!DOCTYPE html>
<html lang="en">

<head th:replace="head :: tetelien">

  
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
   <ul th:replace="siderbar :: sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        
        <nav th:replace="header :: topbar"></nav>
        
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 text-center"><u>Tableau des requerants</u></h1>
         
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <a class="btn btn-primary align-right" href="#" data-toggle="modal" data-target="#modalajouter">Ajouter</a><a href="/downloadExcel" class="btn btn-info">Excel</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                     <th>Id</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Quartier</th>
                      <th>Telephone</th>
                      <th>Actions</th>
                    <!-- @{/{id}(id=${req.id})} route de la modification vers une autre page -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="requerantDto:${listerequerantDTO}">
                    <td th:text="${requerantDto.id}"></td>
                      <td th:text="${requerantDto.nom}"></td>
                      <td th:text="${requerantDto.prenom}"></td>
                      <td th:text="${requerantDto.quartier}"></td>
                      <td th:text="${requerantDto.tel}"></td>
                      <th class="text-center"><a class="btn btn-primary"><i class="fa fa-eye"></i></a><a href="" data-toggle="modal"   data-target="#modal-toTrash"
                                           th:attr="data-target='#modal-toTrash'+${requerantDto.id}"      class="btn btn-success"><i class="fa fa-edit"></i></a><a th:href="@{/s/{i}(i=${requerantDto.id})}" class="btn btn-danger"><i class="fa fa-trash"></i></a></th>
                    
                    <!-- Ajout Requerant-->
  <div class="modal fade"  th:id="modal-toTrash+${requerantDto.id}"   tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" th:text="${requerantDto.id}">Ajout d'un Requerant </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        
           
                  <p>Tous les champs (*) sont obligatoires. loiasse</p>
                  <form  th:method="POST" th:action="@{/{id}(id=${requerantDto.id})}" th:object="${requerantDto}"  class="probootstrap-form">
                    <div class="form-group">
                      <label for="nom">Nom *</label>
                      <input type="text"  class="form-control" id="nom" name="nom" th:value="${requerantDto.nom}">
                    </div>
                    <div class="form-group">
                      <label for="prenom">Prenom *</label>
                      <input type="text"  class="form-control" id="prenom" name="prenom" th:value="${requerantDto.prenom}">
                    </div>
                    <div class="form-group">
                      <label for="tel">Telephone *</label>
                      <input type="text"  class="form-control" id="tel" name="tel" th:value="${requerantDto.tel}">
                    </div>
                   
                    <div class="form-group">
                      <label for="quartier">Quartier *</label>
                      <input type="text"  class="form-control" id="quartier" name="quartier" th:value="${requerantDto.quartier}">
                    </div>
                   
                    <div class="form-group">
                     
                    </div>
                  
                
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" data-dismiss="modal"><span class="fa fa-close"></span>Fermer</button>
           <input type="submit" class="btn btn-success" id="submit" name="submit" value="Valider">
        </div>
      </div>
      </form>
    </div>
  </div>
                    
                     
                     
                    </tr>
                  </tbody>
                  
                  <tbody>
                   
                   
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
     <footer th:replace="footer :: footerbar"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Logout Modal-->
  <div class="modal fade" id="modalajouter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajout d'un Requerant</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        
           
                  <p>Tous les champs (*) sont obligatoires.</p>
                  <form  th:method="POST" th:action="@{/list}" th:object="${requerantDto}"  class="probootstrap-form">
                    <div class="form-group">
                      <label for="nom">Nom *</label>
                      <input type="text" th:field="*{nom}" class="form-control" id="nom" name="nom">
                    </div>
                    <div class="form-group">
                      <label for="prenom">Prenom *</label>
                      <input type="text" th:field="*{prenom}" class="form-control" id="prenom" name="prenom">
                    </div>
                    <div class="form-group">
                      <label for="tel">Telephone *</label>
                      <input type="text" th:field="*{tel}" class="form-control" id="domaine" name="domaine">
                    </div>
                   
                    <div class="form-group">
                      <label for="quartier">Quartier *</label>
                      <input type="text" th:field="*{quartier}" class="form-control" id="village" name="village">
                    </div>
                   
                    <div class="form-group">
                     
                    </div>
                  
                
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" data-dismiss="modal"><span class="fa fa-close"></span>Fermer</button>
           <input type="submit" class="btn btn-success" id="submit" name="submit" value="Valider">
        </div>
      </div>
      </form>
    </div>
  </div>

 

</body>

</html>
